{{ template "layout" . }}

{{ define "title" }}{{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}
  <h3>登录账户</h3>

  {{ $dividerNeeded := false }}

  {{ if gt (len .WebOIDCProviders) 0 }}
    {{ if $dividerNeeded }}
      <div class="divider">或</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3><img class="openid-logo" src="{{ .App.PublicURL }}/openid-logo.svg" alt="OpenID logo"></h3>
    {{ range $provider := $.WebOIDCProviders }}
        <p>
          <a href="{{ $provider.AuthURL }}">使用 {{ $provider.Name }} 登录</a>
        </p>
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  {{ if .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <form action="{{ .App.FrontEndURL }}/web/login" method="post">
      <input type="text" name="username" placeholder="用户名" required />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input hidden name="destination" value="{{ .Destination }}" />
      <input
        class="long"
        type="password"
        name="password"
        placeholder="密码"
        required
      />
      <input type="submit" value="登录" />
    </form>
    {{ $dividerNeeded = true }}
  {{ end }}

  <h3>配置你的启动器</h3>
  <p>
    Using {{ .App.Config.ApplicationName }} on the client requires a third-party launcher that supports
    custom API servers.
    <a href="https://github.com/unmojang/FjordLauncher">Fjord Launcher</a>, a
    fork of Prism Launcher, is recommended, but
    <a href="https://github.com/huanghongxun/HMCL">HMCL</a> also works. Both are
    free/libre.
  </p>

  <h4>Fjord Launcher</h4>

  <ol>
    <li>
      Click your account in the top right and select "Manage Accounts...".
    </li>
    <li>Click "Add authlib-injector" in the right-hand sidebar.</li>
    <li>
      Enter your player name and your {{ .App.Config.ApplicationName }} password or Minecraft Token, and use
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>
      for the URL. Click "OK".
    </li>
  </ol>

  <h4>HMCL</h4>

  <ol>
    <li>
      Go to the "Account List" view by clicking the account at the top of the
      sidebar.
    </li>
    <li>
      At the bottom left, click "New Auth Server" and enter
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>.
      Click "Next" and then "Finish".
    </li>
    <li>
      In the sidebar, click the newly-added authentication server, labeled
      "{{ .App.Config.InstanceName }}". Enter your {{ .App.Config.ApplicationName }} player name and password
      and click "Login".
    </li>
  </ol>

  <h4>其他启动器</h4>

  <p>
    Use the authlib-injector URL
    <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>.
  </p>

  <p>
    Or, if your launcher supports custom API servers but not via
    authlib-injector, use the following URLs:
  </p>

  <table>
    <tr>
      <td>Authentication Server:</td>
      <td>{{ .App.AuthURL }}</td>
    </tr>
    <tr>
      <td>Account Server:</td>
      <td>{{ .App.AccountURL }}</td>
    </tr>
    <tr>
      <td>Session Server:</td>
      <td>{{ .App.SessionURL }}</td>
    </tr>
    <tr>
      <td>Services Server:</td>
      <td>{{ .App.ServicesURL }}</td>
    </tr>
  </table>

  {{ template "footer" . }}
{{ end }}