{{ template "layout" . }}

{{ define "title" }}{{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}
  <h3>登录账户</h3>

  {{ $dividerNeeded := false }}

  {{ if gt (len .WebOIDCProviders) 0 }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3><img class="openid-logo" src="{{ .App.PublicURL }}/openid-logo.svg" alt="OpenID logo"></h3>
    {{ range $provider := $.WebOIDCProviders }}
        <p>
          <a href="{{ $provider.AuthURL }}">使用 {{ $provider.Name }} 登录</a>
        </p>
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  {{ if .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">或</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <form action="{{ .App.FrontEndURL }}/web/login" method="post">
      <input type="text" name="username" placeholder="用户名" required />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input hidden name="destination" value="{{ .Destination }}" />
      <input
        class="long"
        type="password"
        name="password"
        placeholder="密码"
        required
      />
      <input type="submit" value="登录" />
    </form>
    {{ $dividerNeeded = true }}
  {{ end }}

  <h3>配置你的客户端</h3>
  <p>
    在客户端使用 {{ .App.Config.ApplicationName }} 需要一个支持自定义 API 服务器的第三方启动器。
    推荐使用 <a href="https://download.hexdragon.top">PCL</a> 或 <a href="https://github.com/huanghongxun/HMCL">HMCL</a>。
  </p>

  <h4>PCL</h4>

  <ol>
    <li>
      Click your account in the top right and select "Manage Accounts...".
    </li>
    <li>Click "Add authlib-injector" in the right-hand sidebar.</li>
    <li>
      Enter your player name and your {{ .App.Config.ApplicationName }} password or Minecraft Token, and use
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>
      for the URL. Click "OK".
    </li>
  </ol>

  <h4>HMCL</h4>

  <ol>
    <li>
      Go to the "Account List" view by clicking the account at the top of the
      sidebar.
    </li>
    <li>
      At the bottom left, click "New Auth Server" and enter
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>.
      Click "Next" and then "Finish".
    </li>
    <li>
      In the sidebar, click the newly-added authentication server, labeled
      "{{ .App.Config.InstanceName }}". Enter your {{ .App.Config.ApplicationName }} player name and password
      and click "Login".
    </li>
  </ol>

  {{ template "footer" . }}
{{ end }}
